server:
  port: 8080

logging:
  config: classpath:logback-spring-dev.xml
  level:
    org:
      hibernate:
        SQL: DEBUG

#스웨거 설정
spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  